#menu-1 .mbr-brand__name {
	font-size: 17px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
	background: #2c2c2c;
}
#menu-1 .mbr-navbar__section {
	background: #2c2c2c;
}
#header1-0 P {
	color: #ffffff !important;
	text-align: center !important;
}
#content5-8 .caption h3 {
	color: #fff;
}
#content5-8 P {
	color: #fff;
	text-align: center !important;
}
