

#title { 
	text-align: center;
	font-size: 40px;
	background-color: yellow;
}

#signup_layout{
	margin-left: 300px;
	text-align: center;
}

#login_layout{
	margin-left: 300px;
	text-align: center;
}

